<footer>
    <p>Created by {{name}}</p>
    <div>
        <a href="https://github.com/siegelverse">Github</a>
        <a href="https://www.linkedin.com/in/marcus-siegel-dev/">LinkedIn</a>
    </div>
</footer>
