<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>

        <h1>{{title}}</h1>
        <p>
            This site was made with Node and Express by {{name}}. 
            If you'd link to reach {{name}}, please send him an email with this <a href="mailto: msiegel37@gmail.com">link</a>. 
        </p>

    </body>

</html>