<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img src="/img/IMG_0832.jpg" alt="Marcus Siegel" class="portrait">
            <p>
                Marcus Siegel is a Full Stack Engineer located in Austin, Texas. He is currently seeking employment opportunities in Frontend Development.
                You can reach him at his <a href ="https://www.linkedin.com/in/marcus-siegel-dev/">LinkedIn</a> or <a href="mailto: msiegel37@gmail.com">email</a>.
            </p>
            <p>
                This was made to test backend communication with external APIs and Node.
                Handlebars was used for templating, and features custom HTML and CSS stylings. 
                Express was also used for server communication. The GitHub repository for this site is located <a href="https://github.com/siegelverse/node-weather-app">here</a>.
            </p>
        </div>
        {{>footer}}
    </body>

        
</html>